@import "./styles/navigation.css";
@import "./styles/banner.css";
@import "./styles/boxes.css";
@import "./styles/smallBoxes.css";
@import "./styles/leftSideBar.css";
@import "./styles/navigation2.css";

body {
  margin : 0;
  padding: 90px 10px 10px 260px;
  font-family : Roboto, sans-serif; 
}

body h1 {
  margin : 8px 4px;
}