body {
  margin : 0;
  padding: 90px 10px 10px 260px;
  font-family : arial;
  
}

body h1 {
  margin : 8px 4px;
}

.nav-bar {
  position : fixed;
  top : 0;
  left : 0;
  right : 0;
  display : flex;
  flex-direction : row;
  height : 80px;
  background-color : rgb(44, 44, 44);
  align-items : center;
  justify-content : space-between;
}

.left-part {
  width : 300px;
  height: 100%;
  background-color : pink;
  display : flex;
  align-items: center;
}

.logo {
  width : 80px;
  height : 80%;
  object-fit : fill;
}

.name {
  font-family : Lilita One;
  color : rgb(40, 108, 203);
  font-weight : bold;
  font-size : 45px;
}

.middle-part {
  width : 700px;
  height : 100%;
  background-color : lightblue;
}

.right-part {
  width : 300px;
  height : 100%;
  background-color : pink;
}


/* banner slides */

.banner-image {
  background-color : pink;
  height : 320px;
}



/* boxes */
.boxes {
  display : grid;
  gap : 10px;
  grid-template-columns : 1fr 1fr 1fr;
}

.box {
  display : flex;
  flex-direction: column;
  height : 400px;
  background-color: lightblue;
  border-width : 1px;
  border-color : rgb(75, 75, 75);
  border-style : solid;
}

.box-image {
  height : 250px;
  width : 100%;
}

@media (max-width : 1080px) {
  .boxes {
    grid-template-columns: 1fr;
  }
}

@media (min-width : 1081px) and (max-width : 1710px) {
  .boxes {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width : 1711px) {
  .boxes {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* Small Boxes */

.small-boxes {
  display : grid;
  grid-template-columns : 1fr 1fr 1fr 1fr 1fr;
  gap : 10px;
}

.small-box {
  background-color: pink;
}

@media (max-width : 1080px) {
  .small-boxes {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width : 1081px) and (max-width : 1480px) {
  .small-boxes {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width : 1481px) and (max-width : 1780) {
  .small-boxes {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (min-width : 1781px) and (max-width : 2080) {
  .small-boxes {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}


@media (min-width : 2081px) {
  .small-boxes {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}




/* left side bar */

.left-side-bar {
  position : fixed;
  top : 80px;
  left : 0;
  bottom : 0;
  width : 250px;
  background-color : lightblue;
  display : flex;
  flex-direction : column;
  justify-content : space-between;
  padding-top : 50px;
  padding-bottom : 50px;
}

.left-side-bar div {
  display : flex;
  justify-content : center;
}
